*{
    margin:0;
    padding:0;
    font-weight: normal;
    border: 0;
    font-family: 'MedievalSharp', cursive;
}

body{
    background-color: #7A67C8;
    color:black;
}
/* header */
.logoInscription{
    display: block;
    margin: auto;
    width: 40%;
    margin-bottom: 20px;
}

.red{
    background-color: white;
    width:26%;
    text-align: center;
    margin: auto;
    color:red;
    margin-bottom: 20px;
    padding: 10px;
}

.green{
    margin: auto;
    background-color: white;
    width: 26%;
    text-align: center;
    color:green;
    margin-bottom: 20px;
    padding: 2px; 
}

.orange{
    margin: auto;
    background-color: white;
    width: 26%;
    text-align: center;
    color:orange;
    margin-bottom: 20px;
    padding: 2px;
}

.connexion{
    background-color: #A9A3BF;
    border: 1px solid white;
    width:20%;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 20px;
}
.user{
    font-size: 1.5em;
    text-align: center;
}

.deconnexion{
    font-size: 1.5em;
    text-align: center;
}

.amber{
    width:40%;
}

.amber,figcaption{
    position:relative;
    bottom:10px;
    
}
.the,figcaption{
    margin-bottom:10px;
}

#entete{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
}

#banniere{
    display:inline-block;
    padding: 20px;
    width:30%;
}

audio{
    position: absolute;
    border-radius:100%;
    border:5px double #A9A3BF;
    width:15%;
    align-self: flex-end;
}

#menu{
    color:#7A67C8;
    text-transform:uppercase;
    padding:20px;
    width: calc(100vw+20px);
    height:150px;
    background-color:#A9A3BF;
    border-bottom:5px double white;
    border-top:5px double white;
}

.lien-header{
  position: absolute;
  color:black;
  text-shadow: 1px 1px 5px white;
  text-decoration: none;
}

.lien-header:hover{
    background-color: #7A67C8;
    border-radius: 50%;
    border:1px solid white;
    height: 150px;
    width:200px;
    padding: 5px;
}

.paimon{
    display:none;
    position: relative;
    bottom:30px;
    right:20px;
}

.paimon.active{
    display:block;
    position:relative;
    left: 100px;
}

ul,li{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:calc(100vw+40px);
    list-style-type: none; 
    text-align: center;
}

#itemCo{
    display:flex;
    flex-direction: row;
}

/* responcive header */

@media screen and (max-width : 640px) {
    #banniere{
        position:relative;
        height:40%;
        width:30%;
        top:30px;
    }

    a{
        font-size: 0.7em;
    }

    .lien-header:hover{
        border:1px solid white;
        border-radius: 50%;
        width:100px;
    }

    .paimon.active{
        display:none;
    }

    ul,li{
        justify-content: space-between;
    }

    li{
        width:50%;
    }

    .connexion{
        background-color: #A9A3BF;
        border: 1px solid white;
        width:20%;
        margin: auto;
        margin-bottom: 40px;
        border-radius: 5px;
        padding: 20px;
    }

    .the{
       width:60%;
    }

    .amber{
        width:60%;
    }

    .the,figcaption{
        font-size: 0.7em;
    }

    .deconnexion figcaption{
        font-size: 0.7em;
    }
    
   .deconnexion{
        position: relative;
        top:4px;
        width:50%;
        text-align: center;
        
    }
    
    #itemCo{
        display:flex;
        flex-direction: row;
        align-items: center;
        width:100%;
        
    }
}

/* main */
h1{
    padding: 20px;
    text-align: center;
}

.intro{
    color:white;
    text-align: center;
    margin-bottom: 50px;
}

.intro1{
    color:white;
    text-align: center;
}

#ok{
    font-size:1.5em;
    padding : 20px;
}
.qiqi{
    width:25%;
    margin:auto;
}

.zonglhi{
    width:20%;
    margin: auto;
    margin-bottom: 20px;
}

.tarta{
    width:50%;
    margin:auto;
}

.diona{
    width:40%;
    margin:auto;
}

#redirection{
    height:100%;
    display: flex;
    flex-direction: column;
}

#presentation{
    display:flex;
    flex-direction: row;
    height:600px;
    margin-bottom: 50px;
    /*border:1px solid red;*/
}

.p1,.p2{
    display: flex;
    flex-direction: column;
    width:50vw;
    /*border: 1px solid yellow;*/
}

.p2{
    color:white;
    flex-direction: column-reverse;
}
.titre-p{
    padding:20px;
    text-align: center;
}

.photo-p{
    margin: auto;
    width:70%;
    height:50%;
    border:2px solid #A9A3BF;
    border-radius: 50%;
}

.p{
    margin: auto;
    padding:20px;
    width:50%;
}

#arme-perso{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:40%;
    height: 150px;
    background-color: aliceblue;
    border:1px solid #7A67C8;
    border-radius: 10px;
    text-align: center;
}

.img-armesFav{
    width:40%;
    align-self:start;
    position:relative;
    border:double 5px #7A67C8;
    border-radius: 5px;
    margin:auto;
}

.nom-armes{
    width: auto;
    margin: auto;
}

/* form personnages */

#form-perso,#form-armes{
    display: flex;
    flex-direction: column;
    background-color: #A9A3BF;
    margin:auto;
    width:60vw;
    height:100%;
    padding: 20px;
    border:double white 5px;
    margin-bottom: 20px;
}

.bouton{
    display:none;
    text-align: center;
    margin: auto;
    margin-top: 5px;
    color:white;
    background-color:#A9A3BF;
    border-radius:50%;
    width:20vw;
    padding: 10px;
}

.bouton1{
    text-align: center;
    margin: auto;
    margin-top: 5px;
    color:white;
    background-color:#A9A3BF;
    border-radius:50%;
    width:20vw;
    padding: 10px;
}

.bouton:hover{
    background-color: #7A67C8;
}

.bouton1:hover{
    background-color: #7A67C8;
}

label{
    text-align: center;
    
}
input{
    color:white;
    font-size: 1.5em;
    text-align: center;
    margin: auto;
    height: 80%;
    width:30%;
    background-color:#7A67C8;
    margin-bottom: 20px;
    border:2px solid white;
}
.title-radio{
    color:black;
}
#liste-element{
    display: flex;
    flex-direction: row;
    background-color: #7A67C8;
    border:white 1px solid;
    border-radius:2%;
    padding: 20px;
    margin-bottom: 20px;
}

.png1{
    height: 50px;
}
.sayu{
    margin:auto;
    width:20vw;
}

.radio-input{
    height: 20px;
}

#region-select,#armes-select,#etoile-select,#elevation-select{
    text-align: center;
    margin:auto;
    width:30%;
    margin-bottom: 20px;
    color: white;
    border:1px solid white;
    background-color: #7A67C8;
}



.monde{
    display:block;
    margin:auto;
    width:50%;
    border: 5px double white;
    border-radius: 50%;
    margin-bottom: 20px;
}

.fa-star{
    font-size: 1.5em;
}

.epee{
    width: 20%;
}

/* media queries formulaire */

@media screen and (max-width : 640px){
    #liste-element{
        flex-direction:column;
    }
}

/* footer */

#footer{
    background-color: #A9A3BF;
    height: 100px;
    padding: 20px;
    /*border: 1px solid red;*/
}

.ul-footer{
    /*border:1px solid yellow;*/
    width:100%;
    height: 100%;
}

.li-footer{
    width:20%;
    height:80%;
    position: relative;
    top:20px;
}

.puce{
    height:60%;
    width:20%;
}

@media screen and (max-width : 640px){
    .puce{
        height:40%;
        width:40%;
    }

    .li-footer{
       width:20%;
    }
}

/* recherche */

.formulaire{
    margin:auto;
    width:80vw;
    padding:20px; 
    
}

.form-s{
    display: flex;
    flex-direction: column;
}

.search{
    color:#7A67C8;
    width:50%;
    background-color: white;
}

.rechercher{
    width:20%;
}

.rechercher:hover{
    background-color: #A9A3BF;
    color:#7A67C8;
}

.resultat{
    font-size:1.5em;
    color:white;
    width:40%;
    margin: auto;
}

.liste-perso{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    margin: auto;
    width:40vw;
    text-align:left;
    border: #7A67C8 5px solid;
    background-color: #A9A3BF;
    padding:40px;
    border-radius:10px;
    border:5px double white;
    margin-bottom:30px;
}


#nom-perso{
    background-color: #7A67C8;
    color: white;
    font-size: 2em;
    margin: auto;
    margin-bottom: 10px;
    width:30vw;
    padding:10px;
    border: 5px #A9A3BF double;
    border-radius:100%;
}
.d{
    color:white;
    margin-bottom:20px;
}

.description{
   
    position: relative;
    bottom:100px;
    background-color: #7A67C8;
    border-radius: 5px;
    border:solid white 1px;
    color: white;
    padding:10px;
}

.a{
    padding: 5px;
    color:white;
}

.b{ 
    padding: 5px;
    width:40%;
    color:black;
}

.d{ 
    padding: 5px;
    color:black;
}

.e{
    margin-bottom: 20px;
    color:white;
}

.image-perso{
    position: relative;
    top: 60px;
    align-self:flex-end;
    border:#7A67C8 1px solid;
    width:50%;
    border-radius:50px;
}

#info{
    position: relative;
    bottom:200px;
}

.albedo{
    margin: auto;
    width:50%;
}

.no-result{
    text-align: center;
    text-decoration: none;
}

h2{
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

.liste-armes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.liste-secondArmes{
    display: flex;
    flex-direction: row;
    width:100%;
    padding: 10px;
}

.img-armes{
    width:60%;
    border-radius: 10%;
    border:#7A67C8 5px double;
}

.img-armes1{
    width:20%;
    border-radius:10%;
    border:#7A67C8 5px double;
}

.second-armes{
    width:20%;
    padding:10px;
    text-align: center;
}

.imgSecond_armes{
    width:20%;
    border:#7A67C8 5px double;
    border-radius: 10%;
}

.liste-armes,li{
    margin-bottom: 20px;
}

.nom_armes{
    color:white;
    font-size: 1.3em;
    width:20%;
}

.etoile{
    color:white;
}

#bouton-armes{
    background-color: #A9A3BF;
}

#bouton-armes img{
    width:20%;
    margin-bottom: 50px;
}


.favoris1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
#favoris{
    position: relative;
    font-size:3em;
    background-color: #A9A3BF;
    color: salmon ;
}

#remove_favoris{
    position: relative;
    font-size:3em;
    background-color: #A9A3BF;
    color: red ;
}

.favoris{
    position: relative;
    bottom: 60px;
    background-color: #A9A3BF;
    color:salmon;
    font-size: 3em;
}

.favoris_figcaption{
    padding: 20px;
    font-size: 0.3em;
    color: #7A67C8;
    font-weight: bold;
}

.remove_favoris{
    position: relative;
    bottom: 60px;
    background-color: #A9A3BF;
    color:red;
    font-size: 3em;
}
/* Responcive fiche personnages*/

@media screen and (max-width : 640px){
    .liste-perso{
        width: 80vw;
        
    }

    .search{
        font-size: 0.8em;
        width: 80%;
    }
    .rechercher{
        font-size: 0.8em;
        width:50%;
    }

    li.etoile{
        display: none;
    }

    .elevation{
        padding: 30px;
    }
}

